  <div class="col-md-4">
    <div class="nav-side-menu">
      <div class="brand">{{name}}</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="/lab/{{id}}/owners">
              Owners
            </a>
          </li>
          <li>
            <a href="/lab/{{id}}/test">
              New test
            </a>
          </li>
          <li>
            <a href="/lab/{{id}}/owners">
              New batch upload
            </a>
          </li>
          <li>
            <a href="/lab/{{id}}/owners">
              Query
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
