<h3>Owners List</h3>
<table class='gnx-table'>
  <thead>
    <col width='5%'>
    <col width='5%'>
    <col width='30%'>
    <col width='30%'>
    <col width='30%'>
    <tr>
      <th>Patient Id</th>
      <th>Gender</th>
      <th>Ethnicity</th>
      <th>HPO</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    {{#each ownersList}}
      <tr>
        <td>{{ownerId}}</td>
        <td>{{gender}}</td>
        <td>{{ethnicity}}</td>
        <td>{{hpo}}</td>
        <td><button class='gnx-download-btn' onclick="downloadClicked('{{filePath}}');">Download FastQ</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
