<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
  crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>

<section id="labs" class="container">
  <div class="container">
  <h2>Lab List</h2>
    <div class="row col-md-7 ">
      <table id="customerTable" class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Active</th>
            <th>Deleted</th>
            <th>Type</th>
            <th>Property1</th>
            <th>Property1</th>
          </tr>
        </thead>
        <tbody>
          {{#each labs}}
          <tr>
            <td><a href='/labs/{{id}}'>{{id}}</a></td>
            <td>{{name}}</td>
            <td>{{address}}</td>>
            <td>{{user_name}}</td>>
            <td>{{user_email}}</td>>
            <td>{{active}}</td>
            <td>{{deleted}}</td>
            <td>{{type}}</td>
            <td>{{property1}}</td>>
            <td>{{property2}}</td>>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</section>