<link rel="stylesheet" href="/css/lab.css">


<div class="gnx-lab">
  <div class="gnx-lab-menu">
    <div class="gnx-lab-menu-name">{{name}}</div>
    <br>
    <div class="gnx-lab-menu-item"><a href="/"></a>New</div>
    <div class="gnx-lab-menu-item"><a href="/"></a>Upload</div>
    <div class="gnx-lab-menu-item"><a href="/"></a>Bulk Upload</div>
  </div>

  <div class="gnx-lab-body">
    <div class="gnx-lab-owners-list">
      {{#if statistics}}
        <h2>Number of owners: {{statistics.numOwners}}</h2>
        <h3>The oldest owner was born on : {{statistics.minBirth}}</h3>
        <h3>The youngest owner was born on : {{statistics.maxBirth}}</h3>
        <h3>Number of females : {{statistics.numFemale}} ; Number of Males : {{statistics.numMale}}</h3>
      {{/if}}
      {{#if ownersList}}
        {{putlabid id}}
        {{>ownerTable}}
      {{/if}}
    </div>
  </div>

  <div id="progressBar"></div>
</div>