<link rel="stylesheet" href="/css/lab.css">


<div class="gnx-lab">
  <div class="gnx-lab-menu">
    <div class="gnx-lab-menu-name">{{name}}</div>
    <br>
    <div class="gnx-lab-menu-item"><a href="/"></a>New</div>
    <div class="gnx-lab-menu-item"><a href="/"></a>Upload</div>
    <div class="gnx-lab-menu-item" onclick="document.getElementById('gnxLabUploadBox').style.display='block';"><a href="/"></a>Bulk Upload</div>
  </div>

  <div id='gnxLabUploadBox' style='display: none;'>
    <div class='gnx-lab-upload-close' onclick="document.getElementById('gnxLabUploadBox').style.display='none';">X</div>
    <div class='gnx-lab-upload-label'>Please upload an excel file</div>
    <form action="{{bulkuploadurl id}}" method="post" enctype="multipart/form-data">
      <input class="gnx-lab-upload-input" type="file" name="bulkuploadexcel" id="excelToUpload">
      <input class="gnx-lab-upload-input" type="submit" name="submit" value="Upload">
    </form>
  </div>

  <div class="gnx-lab-body">
    <div class="gnx-lab-search-cont">
      <form action="{{searchownersurl id}}" method="get">
        <div class='gnx-lab-search-params'>
          <label class='gnx-lab-search-label'>
            Gender
            <input class="gnx-lab-search-input" type="text" name="gender" id="inputs-gender">
          </label>
          <label class='gnx-lab-search-label'>
            HPO
            <input class="gnx-lab-search-input" type="text" name="hpo_term" id="inputs-hpo-term">
          </label>
          <label class='gnx-lab-search-label'>
            Ethnicity
            <input class="gnx-lab-search-input" type="text" name="ethnicity" id="inputs-ethnicity">
          </label>
          <input type="hidden" name="lab_id" value="{{id}}">
          <input type="hidden" name="lab_name" value="{{name}}">
        </div>
        <div class='gnx-lab-search-submit-cont'>
          <input class="gnx-lab-search-submit" type="submit" name="submit" value="Search">
        </div>
      </form>
    </div>
    {{#if ownersList}}
      {{>ownerTable}}
    {{/if}}
  </div>

  <div id="progressBar"></div>
</div>

<script src="/js/mylab.js"></script>